<nav class="navnar navbar-expand-sm bg-dark">
     <ul class="nav nav-tabs p-3 d-flex justify-content-between px-5">
          <li>
               <a class="nav-item bg-white p-2 rounded" href="/">Blog</a>
          </li>
          <li>
               <a class="nav-item" href="/create">New Post</a>
          </li>
     </ul>
</nav>